body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FFE700;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .header-container i {
    color: #4285f4;
    font-size: 32px;
    margin-right: 10px;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  .section {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #4285f4;
    text-decoration: none;
  }
  
  a i {
    margin-right: 5px;
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
  }


/* Alterações para melhorar a responsividade */
@media only screen and (max-width: 768px) {
    header {
      padding: 10px;
      text-align: center;
    }
  
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  
    .header-container i {
      margin-bottom: 10px;
      font-size: 28px;
    }
  
    .header-container h1 {
      font-size: 24px;
      margin-bottom: 0;
    }
  
    main {
      padding: 10px;
      max-width: 100%;
      box-sizing: border-box;
    }
  
    .section {
      width: calc(100% - 20px);
    }
  
    h2 {
      font-size: 18px;
    }
  
    ul {
      font-size: 16px;
    }
    footer {
        max-width: 100%;
        box-sizing: border-box;
      }
  }


@media only screen and (min-width: 769px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px; /* Adicionando padding para separar os cards das bordas */
  }

  .section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.3333% - 40px); /* Definindo uma largura fixa para os cards */
    box-sizing: border-box; /* Adicionando box-sizing para incluir a largura e o padding no cálculo */
  }

  .section:hover {
    transform: translateY(-5px);
  }

  h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 15px;
  }

  a {
    color: #4285f4;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  a i {
    margin-right: 10px;
    font-size: 18px;
  }
}

.search-container {
  margin-left: 20px; /* Centraliza a barra de pesquisa */
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 200px;
  transition: width 0.4s ease-in-out;
}

.search-container input[type="text"]:focus {
  width: 300px;
}

.search-container button {
  padding: 8px 10px;
  border: none;
  background-color: #FFE700;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}


/* Adicionando estilo para centralizar o header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}



